.BW {
    width: 40px;
    height: 20px;
    background-color: #112;
    border: 1px solid #112;
    border-radius: 25px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.switch {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.active .switch{
    background-color: #112;
    left: 20px;
}

.active {
    background-color: white;
}

.dark {
    background-color: black;
}
  
#trailer {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;
    
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    
    pointer-events: none;
    opacity: 1;
    transition: opacity 500ms ease;
    
    display: grid;
    place-items: center;
}